
  <% @movies.each do |movie| %>
    <div class='row'>
      <div class='col-md-2'>
        <%= link_to image_tag(movie.image.thumb.to_s), movie_path(movie) %>
      </div>
      <div class='col-md-8 description'>

          <h2><%= link_to movie.title, movie_path(movie) %></h2>
          <h4><%= formatted_date(movie.release_date) %></h4>
          <h4>Dir. <%= movie.director %> </h4>
          <h4>Runtime : <%= movie.runtime_in_minutes %> minutes</h4>
          <h5><%= movie.description %></h5>
      </div>
    </div>
    <hr>
  <% end %>
  <h2 class='pagination-button'>
<%= paginate @movies%>
</h2>